GEMINI_API_KEY=
OPENROUTER_API_KEY=
SAM_API_TOKEN=
APIFY_API_TOKEN=
LITELLM_API_KEY=
TAVILY_API_KEY=
OPENAI_API_KEY=
FINANCIAL_DATASETS_API_KEY=
SHP_ID_APP=
SHP_ID_APP_SECRET=
SHP_TENANT_ID=
OUTLOOK_CLIENT_ID=
OUTLOOK_CLIENT_SECRET=
OUTLOOK_TENANT_ID=
